.App {
  margin: 2% 20%;
  text-align: center;
  border: 1px solid rgb(63, 49, 49);
  border-radius: 10px;
}
.App-logo {
  max-width: 270px;
  margin: 0 auto;
}
.App-header {
  margin-top: 20px;
}
body {
  background-color: black;
}
footer {
  color: aliceblue;
}
