.antonyms {
  color: rgb(206, 194, 211);
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
em {
  color: rgb(235, 182, 161);
}
.Meanings {
  text-align: center;
}
