.Synonyms {
  color: rgb(233, 153, 119);
  font-size: 19px;
  list-style: none;
  text-align: center;
  margin-right: 25px;
  text-transform: uppercase;
}

.Synonyms li {
  display: inline-block;
  padding-right: 20px;
}
